@import "../../assets/styles/color-palette.scss";
@import "../../assets/styles/mixins.scss";

.services-wrapper {
  padding-top: 81px !important;
  text-align: left;
  @include is-mobile {
    padding-top: 56px !important;
  }
  &__ar {
    direction: rtl;
    text-align: right;
  }
  &__heading {
    font-weight: bold;
    color: black;
  }
  &__body {
    font-size: 20px;
    color: black;
    @include is-mobile {
      font-size: 16px;
    }
  }
  &__image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px auto;
    background-color: #eee;
  }
  &__text {
    color: black;
  }
}
