@import "../../assets/styles/color-palette.scss";
@import "../../assets/styles/mixins.scss";

.projects-wrapper {
  padding-top: 81px !important;
  text-align: left;
  @include is-mobile {
    padding-top: 56px !important;
  }
  &__ar {
    direction: rtl;
    text-align: right;
  }
  &__heading {
    font-weight: bold;
    color: black;
  }
  &__body {
    font-size: 20px;
    color: black;
    @include is-mobile {
      font-size: 16px;
    }
  }

  &__card-img {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    vertical-align: middle;
    border-style: none;
    height: 150px;
  }
  &__card-text-heading {
    font-weight: bold;
  }
}
