@import "../../assets/styles/color-palette.scss";
@import "../../assets/styles/mixins.scss";

.products-parent {
  background-image: linear-gradient($blue, $blue),
    url("../../assets/images/services.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.products-wrapper {
  padding-top: 81px !important;
  text-align: left;
  @include is-mobile {
    padding-top: 56px !important;
  }
  &__ar {
    direction: rtl;
    text-align: right;
  }
  &__heading {
    font-weight: bold;
    color: white;
  }
  &__body {
    font-size: 20px;
    color: white;
    @include is-mobile {
      font-size: 16px;
    }
  }
  &__image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px auto;
    background-color: white;
  }
  &__text {
    color: white;
  }
}
