@import "../../assets/styles/color-palette.scss";
@import "../../assets/styles/mixins.scss";

.careers-wrapper {
  padding-top: 81px !important;
  text-align: left;

  &__ar {
    direction: rtl;
    text-align: right;
  }
  &__heading {
    font-weight: bold;
    // color: white;
  }
  &__body {
    height: 30%;
    width: 100%;
    font-size: 1.5rem;
    line-height: 50px;
    @include is-mobile {
      font-size: 16px;
    }
  }
  &__image {
    width: 80%;
    @include is-mobile {
      width: 100%;
    }
  }
  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
