@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import "../assets/styles/mixins.scss";

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.row {
  width: 100% !important;
  margin: 0 !important;
}
