@import "../../assets/styles/color-palette.scss";

.partners-parent {
  // background-image: linear-gradient($blue, $blue),
  //   url("../../assets/images/partners.png");
  // background-repeat: no-repeat;
  // background-position: top center;
  // background-size: cover;
}

.partners-wrapper {
  padding: 36px 0px !important;
  text-align: left;
  &__heading {
    font-weight: bold;
    // color: white;
  }
  &__body {
    font-size: 20px;
    // color: white;
  }
  &__image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px auto;
    background-color: #eee;
  }
}

.partners-slide-image {
  width: 200px !important;
  @media screen and (max-width: 900px) {
    max-height: 150px !important;
    width: 80%;
    max-width: 80%;
  }
}

#partners-slides .slick-slider .slick-list .slick-track .slick-slide {
  height: 200px !important;
}
