@import "../../assets/styles/color-palette.scss";
@import "../../assets/styles/mixins.scss";

.footer-wrapper {
  width: 100%;
  background-color: $dark-blue;
  position: static;
  bottom: 0;
  height: 480px;
  &__ar {
    direction: rtl;
    text-align: right;
  }
  @include is-mobile {
    height: fit-content;
  }
}

.footer-icon-button {
  border-radius: 50%;
  text-decoration: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 16px;
  cursor: pointer;
  background: white;

  &:hover {
    background: #d2cfcf;
  }

  &__icon {
    width: 25px;
  }
}

.footer-wrapper__data {
  display: flex;
  padding-top: 18px;
  &__info {
    width: 100%;
    color: white;
    display: flex;
    @include is-mobile {
      display: block;
      margin-top: 10px;
      text-align: center;
    }
    &__item {
      width: 30%;
      @include is-mobile {
        width: 100%;
      }
    }
  }
  &__contact {
    width: 50%;
    &__item {
      color: white;
      margin-bottom: 20px;
    }
  }
  &__social-media {
    // width: 30%;
    display: flex;
    align-items: center;
    @include is-mobile {
      justify-content: flex-end;
    }
  }
  &__rights {
    color: white;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include is-mobile {
      text-align: center;
    }
  }
}
